<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fintastic Aquarium Fish and Supplies</title>
  </head>
  <body>

    <div id="banner-container">
      <h4 id="banner-content">
        <span id="content-1">Up to 40% Off Weekly Specials<a class="more" href="#">Learn More >></a></span>
        <span id="content-2">
          View our Holiday Shipping Schedule for Timely & Safe Delivery
          <a class="more" href="#">Learn More >></a>
        </span>
      </h4>
    </div>

  </body>
</html>
