<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fintastic Aquarium Fish and Supplies</title>

  </head>
  <body>

    <!-- Facilities Start-->
    <div class="container-fluid p-0">
      <div class="site-info">
        <div class="row text-center py-3 bg-primary-color m-0">
          <div class="col-md-4 col-sm-12 my-md-0 my-4">
            <div class="row justify-content center text-light wow fadeInLeft">
              <i class="fas fa-rocket fa-4x px-4"></i>
              <div class="p-2 text-left">
                <h6 class="m-0">Free Shipping & Return</h6>
                <small>Free shipping on all orders $39 and up</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 my-md-0 my-4">
            <div class="row justify-content center text-light wow fadeIn">
              <i class="fas fa-hand-holding-usd fa-4x px-4"></i>
              <div class="p-2 text-left">
                <h6 class="m-0">14-Day Money Back Gaurantee</h6>
                <small>Fish, Plants, Corals, and Invertebrates</small>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 my-md-0 my-4">
            <div class="row justify-content center text-light wow fadeInRight">
              <i class="fas fa-headphones-alt fa-4x px-4"></i>
              <div class="p-2 text-left">
                <h6 class="m-0">Online Support</h6>
                <small>24hr online support</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Facilities End-->
    <div class="container-fluid px-5">
      <div class="row">
        <!-- Contact -->
        <div class="col-md-4 col-sm-12 wow fadeIn">
          <h4>Contact Us</h4>
          <div class="row pl-md-1 text-secondary contact">
            <div class="col-12 p-0">
              <i class="fa fa-home px-md-2"></i>
              <small>400 E. 48th Street New York, NY, Unites States</small>
            </div>
          </div>
          <div class="row pl-md-1 text-secondary py-4 contact">
            <div class="col-12 p-0">
              <i class="fa fa-paper-plane px-md-2"></i>
              <a href="#"><small>www.jeffsarlo.com</small></a>
            </div>
          </div>
          <div class="row pl-md-1 text-secondary contact">
            <div class="col-12 p-0">
              <i class="fa fa-phone-volume px-md-2"></i>
              <small>(800)123-4567</small>
            </div>
          </div>
          <!-- Social Media -->
          <div class="row social text-secondary">
            <div class="col-12 py-3 p-0">
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-google-plus-g"></i></a>
              <a href="#"><i class="fab fa-skype"></i></a>
              <a href="#"><i class="fab fa-pinterest-p"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 wow fadeIn">
          <h4>Our Services</h4>
          <div class="d-flex flex-column text-secondary pl-md-1 services">
            <a href="#"><small class="pt-0">Aquarium Setup</small></a>
            <a href="#"><small>Consultation</small></a>
            <a href="#"><small>Scheduled Maintenance</small></a>
            <a href="#"><small>Equiptment Supplier</small></a>
          </div>
        </div>
        <div class="col-md-2 col-sm-12 wow fadeIn">
          <h4>Extras</h4>
          <div class="d-flex flex-column text-secondary pl-md-1 extras">
            <a href="#"><small class="pt-0">About</small></a>
            <a href="#"><small>Free Consultation</small></a>
            <a href="#"><small>Product Reviews</small></a>
            <a href="#"><small>Blog</small></a>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 follow-us wow fadeIn">
          <h4>Follow us on Instagram</h4>
          <a href="#">
          <div class="d-flex flex-row instagram">
            <img src="./media/social/one.jpg" class="img-fluid" alt="Instagram 1">
            <img src="./media/social/two.jpg" class="img-fluid" alt="Instagram 2">
            <img src="./media/social/three.jpg" class="img-fluid" alt="Instagram 3">
          </div>
          <div class="d-flex flex-row instagram">
            <img src="./media/social/four.jpg" class="img-fluid" alt="Instagram 1">
            <img src="./media/social/five.jpg" class="img-fluid" alt="Instagram 2">
            <img src="./media/social/six.jpg" class="img-fluid" alt="Instagram 3">
          </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Newsletter -->
    <div class="container-fluid news py-5">
      <div class="row">
        <div class="col-md-6 col-sm-12 pl-5 wow fadeInUp">
          <h4 class="primary-color font-roboto m-0 p-0">
            Need Help? Thats what we're here for!
          </h4>
          <p class="m-0 p-0 text-secondary">
            Support Team 24/7 at (800)111-5555
          </p>
        </div>
        <div class="col-md-4 col-12 my-md-0 my-3 pl-md-0 pl-5">
          <input
            type="text"
            class="form-control border-0 bg-light wow fadeInUp"
            placeholder="Enter Your Email Address"
          >
        </div>
        <div class="col-md-2 col-12 my-md-0 my-3 pl-md-0 pl-5">
          <button class="btn news-btn wow fadeInUp">Subscribe</button>
        </div>
      </div>
    </div>
    <!-- Payment & Copyright -->
    <div class="container-fluid p-3 text-center copyright">
      <p class="pt-5">
        <img src="./media/payment.png" class="img-fluid" alt="Payment image">
      </p>
      <small class="text-secondary py-4">Sarlo Design © 2019 Tutorial. All Rights Reserved. Designed by Sarlo Design</small>
    </div>

  </body>
</html>
