<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fintastic Aquarium Fish and Supplies</title>

  </head>
  <body>

    <div class="close-btn">close</div>
    <ul id="nav-menu">
      <li><a href="./freshwater.html">Freshwater</a></li>
      <li><a href="./marine.html">Marine</a></li>
      <li><a href="./livestock.html">Livestock</a></li>
      <li><a href="./filter.html">Filter & Media</a></li>
      <li><a href="./supplies.html">Aquarium Supplies</a></li>
      <li><a href="./care.html">Care & Nutrition</a></li>
      <li><a href="./maintenance.html">Maintenance</a></li>
    </ul>

  </body>
</html>
