<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Fintastic Aquarium Fish and Supplies</title>

  </head>
  <body>

    <ul id="nav-menu">
      <li><a href="./freshwater.html" data-text="Freshwater">Freshwater</a></li>
      <li><a href="./marine.html" data-text="Marine">Marine</a></li>
      <li><a href="./livestock.html" data-text="Livestock">Livestock</a></li>
      <li><a href="./filter.html" data-text="Filter & Media">Filter & Media</a></li>
      <li><a href="./supplies.html" data-text="Aquarium Supplies">Aquarium Supplies</a></li>
      <li><a href="./care.html" data-text="Care & Nutrition">Care & Nutrition</a></li>
      <li><a href="./maintenance.html" data-text="Maintenance">Maintenance</a></li>
    </ul>
    <div class="fish">
      <img id="clown" src="../media/clown.png" alt="clownfish">
      <img id="clown2" src="../media/clown.png" alt="clownfish">
      <img id="blue" src="../media/blue.png" alt="blue fish">
      <img id="gold" src="../media/goldfish.png" alt="goldfish">
      <img id="barb" src="../media/barb.png" alt="barb fish">
    </div>


  </body>
</html>
